.logo {
  width: 100px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  border: 1px solid black;
  ;
}

.nav-bar {
  display: flex;
}

.nav-bar>ul {
  display: flex;
  list-style-type: none;
}

.nav-bar>ul>li {
  padding: 10px;
}

.card {
  width: 200px;
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
  box-shadow: 10px 10px lightgrey;
  overflow-wrap: break-word;
}

.card>img {
  width: 100%;
}

.cardList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.footer {
  display: flex;
  background-color: lightgrey;
  justify-content: end;
  ;
  height: 100px;
  margin: 10px;
  padding: 10px;
}

.footer>ul {
  display: flex;
  list-style: none;
  align-items: flex-end;
}

.footer>ul>li {
  padding: 10px
}