.logo {
  width: 100px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  border: 1px solid black;
  ;
}

.nav-bar {
  display: flex;
}

.nav-bar>ul {
  display: flex;
  list-style-type: none;
}

.nav-bar>ul>li {
  padding: 10px;
}

.card {
  width: 200px;
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
}

.card>img {
  width: 150px;
}

.cardList {
  display: flex;
  flex-wrap: wrap;
}